//Color variables

$color-info: #6fbbe1;
$color-slate: #747373;
$color-orange: #e38c5b;
$color-background-main: #eceae8;
$color-background-container-primary: #fdfdfc;
$color-background-container-secondary: #f8f9f7;
$color-border: #d9d6d3;

//Font size variables
$font-small: 12px;
$font-medium: 16px;
$font-large: 20px;

//Font variables
$body-font: 'Roboto', sans-serif;
