@import './styles/variables';

body {
  margin: 0;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p {
  font-size: $font-small;
}
h6 {
  font-size: $font-medium;
}
h5 {
  font-size: $font-large;
}

.mainWrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $color-background-main;
}
